<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

      <!-- Change me!  Remove this and the corresponding java class when you start adding real plugin content of your own. -->
       <extension id="proviz.menu"
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Proviz..."/>
        <class value="template.TemplateMenu"/>
        <toolTip value="A menu plugin to bootstrap the new plugin process"/>
        <path value="org.protege.editor.owl.menu.tools/SlotZ-Z"/>
        <editorKitId value="OWLEditorKit"/>
    </extension>

      <!-- Change me!  Remove this and the corresponding java class when you start adding real plugin content of your own. -->
    <extension id="proviz.view"
               point="org.protege.editor.core.application.ViewComponent">
        <label value="Proviz"/>
        <class value="template.TemplateView"/>
       	<headerColor value="@org.protege.ontologycolor"/>
        <category value="@org.protege.ontologycategory"/>
    </extension>

    <extension id="proviz.tab"
               point="org.protege.editor.core.application.WorkspaceTab">
        <label value="ProViz"/>
        <class value="template.TemplateTab"/>
        <index value="X"/>
        <editorKitId value="OWLEditorKit"/>
        <defaultViewConfigFileName value="layout.xml"/>
    </extension>
</plugin>
