<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

    <extension id="proviz.view"
               point="org.protege.editor.core.application.ViewComponent">
        <label value="ProViz"/>
        <class value="proviz.ProVizViewJung"/>
       	<headerColor value="@org.protege.ontologycolor"/>
        <category value="@org.protege.ontologycategory"/>
    </extension>


    <extension id="proviz.tab"
               point="org.protege.editor.core.application.WorkspaceTab">
        <label value="ProViz"/>
        <class value="proviz.ProVizTab"/>
        <index value="X"/>
        <editorKitId value="OWLEditorKit"/>
        <defaultViewConfigFileName value="viewconfig-proviztab.xml"/>
    </extension>

</plugin>
